In [1]:
#重写生还者分析项目
#主要用到【决策树】

In [6]:
#检查python版本代码
#sys是系统学习
#sys.version_info  sys.version_info(2, 4, 3, 'final', 0) 
#'final'表示最终,也有'candidate'表示候选，表示版本级别，是否有后继的发行
#major表示主版本号，minor表示次版本号
from sys import version_info
if version_info.major != 2 and version_info.minor != 7:
    raise Exception('请使用Python 2.7来完成此项目')
else:
    print version_info

sys.version_info(major=2, minor=7, micro=12, releaselevel='final', serial=0)

In [9]:
import numpy as np
import pandas as pd

# 数据可视化代码
from titanic_visualizations import survival_stats
from IPython.display import display
%matplotlib inline
#用户代码在Kernel中的shell对象中执行之后，通过DisplayFormatter将需要显示的对象转换为一个描述显示信息的字典，
#并传递给客户端进行显示。目前IPython有三种客户端：控制台、QtConsole和Notebook。
#每种客户端都会从这个字典中提取自己能处理的信息进行显示。

# 加载数据集
in_file = 'titanic_data.csv'
full_data = pd.read_csv(in_file) #读取csv文件

# 显示数据列表中的前几项乘客数据
#a.head(6)表示显示前6行数据，若head()中不带参数则会显示全部数据。
#a.tail(6)表示显示后6行数据，若tail()中不带参数则也会显示全部数据。
display(full_data.head())

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S